<div class="eci-fit">
  <div class="dash-welcome eci-fit__chrome">
    <div class="dash-welcome__role">{{ 'roles.TUTOR' | translate }}</div>
    <h2 class="dash-welcome__greeting">
      {{ 'dash.welcome' | translate }}<span class="dash-welcome__name"
        >@if (user(); as u) {, {{ u.name }}}</span
      >
    </h2>
    <p class="dash-welcome__sub">{{ 'dash.subtitleTutor' | translate }}</p>
  </div>

  <ul class="stats eci-fit__chrome">
    @for (stat of stats; track stat.labelKey) {
      <li>
        <a class="stat" [routerLink]="stat.route">
          <span class="stat__icon"><eci-icon [name]="stat.icon" [size]="24" /></span>
          <span class="stat__value">{{ stat.value() }}</span>
          <span class="stat__label">{{ stat.labelKey | translate }}</span>
        </a>
      </li>
    }
  </ul>

  <div class="eci-fit__body">
    <eci-dashboard-grid [items]="items" />
  </div>
</div>
